*_archive
cv/*.tex
cv/*.aux
cv/*.out
cv/*.log
cv/pubs/papers.tex
cv/pubs/_posters
cv/pubs/_rejected
words/notes/
words/recipients.txt
inout/_receipts/
index.html.TK
inout/2018.02.15*pdf
vanity_console/

